
@keyframes floatClouds {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

.animate-floatClouds {
  animation: floatClouds 60s linear infinite;
}

.animate-cloud {
  animation: floatClouds 60s linear infinite;
}
